@charset "UTF-8";
/* 초기화 */
body, h1, h2, h3, h4, h5, h6, ul, p, dl, dt, dd, figure, td, form, fieldset, input { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; }
fieldset, img { border: 0; }
table { border-collapse: collapse; }
hr { display: none; }
small { font-size: 1em; }
address { font-style: normal; }
.hidden { position: absolute; left: -9999px; }
/* 웹폰트 - sgUI */
@font-face { font-family: sgUI;
  src: url(../webfont/segoeui.eot),
       url(../webfont/segoeui.woff),
       url(../webfont/segoeui.ttf)
}
body { min-width: 1000px; font: sgUI; font-family: 'NanumBarunGothic'; }
/* header */
#header { width: 1000px; height: 187px; margin: 0 auto;
          position: relative; }
#header h1 { padding: 90px 0 0 50px; float: left; }
#header h1 a { display: block; width: 249px; height: 50px;
               background: url(../images/logo.png) no-repeat;
               text-indent: 101%; overflow: hidden; }
/* 멤버쉽네비 */
#membership { position: absolute; top: 18px; right: 80px; }
#membership ul {  }
#membership ul li { float: left; }
#membership ul li a { font-size: 12px; color: #333; }
#membership ul li.goLogin { padding-right: 10px; position: relative; }
#membership ul li.goLogin::after { content: "";
                                   position: absolute; top: 7px; right:0;
                                   height: 11px; border-left: 1px solid #e37cb1; }
#membership ul li.goJoin { padding-left: 10px; position: relative; }
#membership ul li.goJoin::before { content: "";
                                   position: absolute; top: 7px; left:0;
                                   height: 11px; border-left: 1px solid #6284db; }
/* GNB */
#gnb { float: right; margin: 106px 40px 0 0; }
#gnb ul li { float: left; margin-left: 10px; }
#gnb ul li:hover { border-bottom: 3px solid #1470d0;  padding-bottom: 10px; }
#gnb ul li a { text-transform: uppercase; color: #333; font-size: 14px;
               padding: 0 10px 0 10px; }
/* footer */
#footerWrap { margin-top: 55px; border-top: 1px solid #a0a0a0; }
#footer { overflow: hidden; width: 720px; margin: 0 auto;
          padding: 24px 76px 40px 204px;
          background: url(../images/logoFooter.png) no-repeat 55px 23px; }
#footer .info { float: left; font-size: 14px; }
#footer .info small {  }
#footer .info address {  }
#footer .sns { float: right; }
#footer .sns li { width: 33px; height: 33px; float: left; margin-left: 17px;  }
#footer .sns li a {  display: block; width: 33px; height: 33px; text-indent: -9999px;
                     background: url(../images/bgSns.png) no-repeat; }
#footer .sns li.twitter a { background-position: right 0; }
