@charset "UTF-8";
/* 초기화 */
body, h1, h2, h3, h4, p, ul { margin: 0; padding: 0; }
a { text-decoration: none;}
address { font-style: normal;}
ul { list-style: none; }
small { font-size: 1em; }
.hidden { position: absolute; left: -9999px; }
body {  font-family: 'Nanum Gothic Coding', monospace; }

/* 헤더 */
#header { overflow: hidden; background: #ace4c4; height: 112px; width: 1180px;
          margin: 0 auto; }
#header h1 { padding: 60px 0 0 150px; float: left; }
/* 네비 */
nav { padding: 70px 150px 0 0; float: right; }
nav ul { overflow: hidden; }
nav > ul > li { float: left; margin: 0 30px; }
nav > ul > li a { display: block; height: 60px; font-size: 20px; color: #000; }
/* 슬라이더 */
#sliderWrap { background: #85c1ff; height: 500px; }
#sliderWrap div { width: 1200px; height: 500px; margin: 0 auto;
                  background: #5ca6f2; }
/* 컨텐츠1 */
#content1 { padding: 100px 200px; background: #faf9d1; }
#content1 h2 { margin-bottom: 30px; font-size: 50px; }
#content1 p { line-height: 36px; font-size: 24px; }
/* 컨텐츠2 */
#content2 { width: 1100px; margin: 0 auto; padding: 100px 50px;
            background: #d6c6f1; }
#content2 h2 { margin-bottom: 30px; font-size: 50px; }
#content2 p { line-height: 36px; font-size: 24px; }
/* main */
#mainnav { background: #f6abb4; }
